@using NorthwindApp.UI.Infrastructure.Extensions
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ProductViewModel>

<div class="row items-list">
    <div class="row list-element">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label>Name</label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label>Quantity Per Unit</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <label>Unit Price</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <label>Units In Stock</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <label>Units On Order</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <label>Reorder Level</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <label>Discontinued</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <label>Supplier</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <label>Category</label>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    @foreach (var product in Model)
    {
        <div class="row list-element">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <p class="bold">@product.ProductName</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <p>@product.QuantityPerUnit</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <p>@FormatPrice(product.UnitPrice)</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <p>@product.UnitsInStock</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <p>@product.UnitsOnOrder</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <p>@product.ReorderLevel</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <p>@product.Discontinued</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <p>@product.Supplier.CompanyName</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <p>@product.Category.CategoryName</p>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <a asp-action="Edit" asp-route-id="@product.ProductId">
                    <p>Edit</p></a>
            </div>
        </div>
    }
</div>
<div class="row">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Product", new { page }), PagedOptionsExtensions.GetCustomPagedListRenderOptions())
</div>

@functions
{
    string FormatPrice(decimal price) => $"{price:#.##}";
}